.containerHeader {
    height: 100px;
    background-color: #0F52BA;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 65px 0 88px;

    .contentImageHeader {
        .logoHeader {
            width: 100%;
        }
    }

    .containerCart {

    }
}