.containerFooter {
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eeeeee;

  h1 {
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 400;
    color: #000;
  }
}
